<!DOCTYPE html>
 <html lang="en">
  <head>
   <title>SUT Smart Irrigation </title>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 </head>
 <!-- Below is the initialization snippet for my Firebase project. It will vary for each project -->
 <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
 <script>
   // Initialize Firebase
   var config = {
     apiKey: "AIzaSyB9zKuiyZo-L0STWG86VXB4cVuPMKeWp2Y",
     authDomain: "swi-high-precision-farm.firebaseapp.com",
     databaseURL: "https://swi-high-precision-farm.firebaseio.com",
     projectId: "swi-high-precision-farm",
     storageBucket: "",
     messagingSenderId: "141388591700"
   };
   firebase.initializeApp(config);
 </script>

 <!-- The code below initializes the sign-in widget from FirebaseUI web. -->
 <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
   <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
   <script type="text/javascript">
    var uiConfig = {
     signInSuccessUrl: '/welcome',
     signInOptions: [
      // Specify providers you want to offer your users.
      firebase.auth.GoogleAuthProvider.PROVIDER_ID,
      firebase.auth.EmailAuthProvider.PROVIDER_ID
     ],
     // Terms of service url can be specified and will show up in the widget.
     tosUrl: '<your-tos-url>'
    };
    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    // The start method will wait until the DOM is loaded.
    ui.start('#firebaseui-auth-container', uiConfig);
 </script>
 <!-- Include a simple background image & and title -->
  <div></div>
  <body>
      <div>
        <br>
       <h5 align="center" style="color:black;">SWI Smart Cassava System Backend</h5>
        <div id="firebaseui-auth-container"></div>
      </div>
  </body>
 </html>
